name: Checks

on:
  pull_request:
    branches: [main]

jobs:
  test-lint:
    uses: ./.github/workflows/test-and-lint.yml
    secrets:
      DOCKERHUB_USER: ${{ vars.DOCKER_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKER_TOKEN }}
